
VelocityTestCases/bin/Debug/$RANDOM_SEED$
VelocityTestCases/bin/Debug/ValocityTestCases.dll
VelocityTestCases/bin/Debug/ValocityTestCases.pdb
VelocityTestCases/Downloads/ImportSchema.csv
VelocityTestCases/Downloads/SuppliersWithProductsInReview.csv
VelocityTestCases/obj/Debug/ValocityTestCases.dll
VelocityTestCases/obj/Debug/ValocityTestCases.pdb
VelocityTestCases/obj/Debug/VelocityTestCases.csproj.FileListAbsolute.txt
VelocityTestCases/obj/Debug/VelocityTestCases.csproj.GenerateResource.Cache
VelocityTestCases/obj/Debug/VelocityTestCases.csprojResolveAssemblyReference.cache
VelocityTestCases/References/Init.json
VelocityTestCases/Report/AddProductWithSPG.png
VelocityTestCases/Report/AddUpdateCataLog.png
VelocityTestCases/Report/API2_GetProductById.png
VelocityTestCases/Report/API2_PostProductAfterChange.png
VelocityTestCases/Report/API3_DeleteProduct.png
VelocityTestCases/Report/API3_GetProductById.png
VelocityTestCases/Report/API3_InActiveProduct.png
VelocityTestCases/Report/API3_PostProductAfterChange.png
VelocityTestCases/Report/API3NET_DeleteProduct.png
VelocityTestCases/Report/API3NET_GetProductById.png
VelocityTestCases/Report/API3NET_InActiveProduct.png
VelocityTestCases/Report/API3NET_PostProductAfterChange.png
VelocityTestCases/Report/API3NET_VerifyHiddenKeyWordsAfterdelete.png
VelocityTestCases/Report/API3NET_VerifyHiddenKeyWordsWithoutChange.png
VelocityTestCases/Report/BulkOperationsOnProduct.png
VelocityTestCases/Report/CopyProductAndActiveIt.png
VelocityTestCases/Report/Decorator_Create_UpdateProduct.png
VelocityTestCases/Report/DeleteActiveProduct.png
VelocityTestCases/Report/DeleteImageForProduct.png
VelocityTestCases/Report/DeleteInActiveProduct.png
VelocityTestCases/Report/Dist_AddPrivateProduct.png
VelocityTestCases/Report/Dist_AddPrivateProductToCompanyStore.png
VelocityTestCases/Report/Dist_AddsharedProduct.png
VelocityTestCases/Report/Dist_Compliance_ImportExport_BulkOperations_ShouldNotBeThere.png
VelocityTestCases/Report/Dist_LicenseAgreementReview.png
VelocityTestCases/Report/Dist_SupplierInfoPageShouldNotBeThere.png
VelocityTestCases/Report/Dist_VerifyPrivateProductInESPWebsites.png
VelocityTestCases/Report/Dist_VerifySharedProductInESPWebsites.png
VelocityTestCases/Report/DownloadPriceDefaultTemplate.png
VelocityTestCases/Report/Esp_CheckWebSitesLogo.png
VelocityTestCases/Report/InActiveProduct.png
VelocityTestCases/Report/KeyWordSearchVerificationInDownStream.png
VelocityTestCases/Report/NavigateThroughSearchResult.png
VelocityTestCases/Report/productResultSortBy.png
VelocityTestCases/Report/Report.html
VelocityTestCases/Report/Report_ProductSubmitForReview.png
VelocityTestCases/Report/RestrictedKeyWordsSubmitAndReviewAndDeleteChanges.png
VelocityTestCases/Report/ReviewLicenceAggreement.png
VelocityTestCases/Report/ReviewSuppliersInfo.png
VelocityTestCases/Report/SearchUsingDefaultFiltersSearch.png
VelocityTestCases/Report/SearchUsingKeyWords.png
VelocityTestCases/Report/SearchUsingMoreFiltersSearch.png
VelocityTestCases/Report/Update_Edit_AlreadyActiveProduct.png
VelocityTestCases.v12.suo
VelocityTestCases/bin/Debug/$RANDOM_SEED$
VelocityTestCases/bin/Debug/ValocityTestCases.dll
VelocityTestCases/bin/Debug/ValocityTestCases.pdb
VelocityTestCases/Downloads/ImportSchema.csv
VelocityTestCases/Downloads/SuppliersWithProductsInReview.csv
VelocityTestCases/obj/Debug/ValocityTestCases.dll
VelocityTestCases/obj/Debug/ValocityTestCases.pdb
VelocityTestCases/obj/Debug/VelocityTestCases.csproj.FileListAbsolute.txt
VelocityTestCases/obj/Debug/VelocityTestCases.csproj.GenerateResource.Cache
VelocityTestCases/obj/Debug/VelocityTestCases.csprojResolveAssemblyReference.cache
VelocityTestCases/References/Init.json
VelocityTestCases/Report/AddProductWithSPG.png
VelocityTestCases/Report/AddUpdateCataLog.png
VelocityTestCases/Report/API2_GetProductById.png
VelocityTestCases/Report/API2_PostProductAfterChange.png
VelocityTestCases/Report/API3_DeleteProduct.png
VelocityTestCases/Report/API3_GetProductById.png
VelocityTestCases/Report/API3_InActiveProduct.png
VelocityTestCases/Report/API3_PostProductAfterChange.png
VelocityTestCases/Report/API3NET_DeleteProduct.png
VelocityTestCases/Report/API3NET_GetProductById.png
VelocityTestCases/Report/API3NET_InActiveProduct.png
VelocityTestCases/Report/API3NET_PostProductAfterChange.png
VelocityTestCases/Report/API3NET_VerifyHiddenKeyWordsAfterdelete.png
VelocityTestCases/Report/API3NET_VerifyHiddenKeyWordsWithoutChange.png
VelocityTestCases/Report/BulkOperationsOnProduct.png
VelocityTestCases/Report/CopyProductAndActiveIt.png
VelocityTestCases/Report/Decorator_Create_UpdateProduct.png
VelocityTestCases/Report/DeleteActiveProduct.png
VelocityTestCases/Report/DeleteImageForProduct.png
VelocityTestCases/Report/Dist_AddPrivateProduct.png
VelocityTestCases/Report/Dist_AddPrivateProductToCompanyStore.png
VelocityTestCases/Report/Dist_AddsharedProduct.png
VelocityTestCases/Report/Dist_Compliance_ImportExport_BulkOperations_ShouldNotBeThere.png
VelocityTestCases/Report/Dist_LicenseAgreementReview.png
VelocityTestCases/Report/Dist_SupplierInfoPageShouldNotBeThere.png
VelocityTestCases/Report/Dist_VerifyPrivateProductInESPWebsites.png
VelocityTestCases/Report/Dist_VerifySharedProductInESPWebsites.png
VelocityTestCases/Report/DownloadPriceDefaultTemplate.png
VelocityTestCases/Report/Esp_CheckWebSitesLogo.png
VelocityTestCases/Report/InActiveProduct.png
VelocityTestCases/Report/KeyWordSearchVerificationInDownStream.png
VelocityTestCases/Report/NavigateThroughSearchResult.png
VelocityTestCases/Report/productResultSortBy.png
VelocityTestCases/Report/Report.html
VelocityTestCases/Report/Report_ProductSubmitForReview.png
VelocityTestCases/Report/RestrictedKeyWordsSubmitAndReviewAndDeleteChanges.png
VelocityTestCases/Report/ReviewLicenceAggreement.png
VelocityTestCases/Report/ReviewSuppliersInfo.png
VelocityTestCases/Report/SearchUsingDefaultFiltersSearch.png
VelocityTestCases/Report/SearchUsingKeyWords.png
VelocityTestCases/Report/SearchUsingMoreFiltersSearch.png
VelocityTestCases/Report/Update_Edit_AlreadyActiveProduct.png
